{% extends "index.twig" %}

{% set docTitle = 'Contact pagina' %}

{% set bodyAttributes = {
class: 'ltr'
} %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}


{% block body %}




<div class="grid-container">
    {% set contactpagina = craft.entries()
    .section('contactpagina')
    .limit(10)
    .all() %}
    {% for tekst in contactpagina %}

    <div class="card">
        <figure class="card__figure"> </figure>
        <div class="card__body">
            <div class="card__header">
                <h2>
                    {{ entry.title }}
                </h2>
            </div>
            <div class="card__text">
                {{ tekst.contactpaginatekst }}
            </div>
        </div>

        <div>
            {% for navItem in menunavigation.contactformulierlinkgroup.all() %}

            <button class="button">{{ navItem.contact.getLink({ class: 'nav-link' }) }}</button>
                
          
            {% endfor %}
        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}